.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbarCartContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #eb6d27;
  font-size: 20px;
  position: relative;
}

.navbarCartContainer p {
  color: #000;
  opacity: 0.6;
  font-weight: 600;
}
.cartItemNumber {
  position: absolute;
  right: 60%;
  top: 5%;
  border-radius: 50%;
  border: 0;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 10px;
  background-color: #eb6d27;
  cursor: pointer;
}
